/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background: #f0f2f5;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.titleBar {
  -webkit-app-region: drag;
}

html ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--second-dark-text-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,.12);
  box-shadow: inset 0 0 10px #0003;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0,0,0,.06);
  box-shadow: inset 0 0 5px #00000014;
}

#root {
  height: 100%;
  width: 100%;
}
